Repository deppenpfostierung/bicycle-led-software, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Dependencies, CI, Configuration, Formatting, Icons

.github/labeler.yml:

# GitHub Labeler Configuration
Documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**

Feature:
  - head-branch: ['^feature', 'feature']

Bug:
  - head-branch: ['^bug', 'bug']

Bugfix:
  - head-branch: ['^bug', 'bug']

Dependencies:
  - changed-files:
      - any-glob-to-any-file: components/**
      - any-glob-to-any-file: dependencies.lock

CI:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

Configuration:
  - changed-files:
      - any-glob-to-any-file: configs/**

Formatting:
  - changed-files:
      - any-glob-to-any-file: .clang-format

Icons:
  - changed-files:
      - any-glob-to-any-file: icons/**

Generate the icons during build-time
  convert-icons.sh
  main/CMakeLists.txt
  main/icons/arrow.cpp
  main/icons/arrow.h
  main/icons/arrow_grey.cpp
  main/icons/arrow_grey.h
  main/icons/bootlogo.cpp
  main/icons/bootlogo.h
  main/icons/bootlogo_grey.cpp
  main/icons/bootlogo_grey.h
  main/icons/buttons.cpp
  main/icons/buttons.h
  main/icons/buttons_grey.cpp
  main/icons/buttons_grey.h
  main/icons/settings.cpp
  main/icons/settings.h
  main/icons/settings_grey.cpp
  main/icons/settings_grey.h
  main/icons/smol.cpp
  main/icons/smol.h
  main/icons/testimage.cpp
  main/icons/testimage.h
  main/icons/testimage_grey.cpp
  main/icons/testimage_grey.h
Labels: none

Remove checking the icons
  .github/workflows/ci.yml
Labels: CI

Install rgb565-converter in build process
  .github/workflows/ci.yml
Labels: CI

Further improve cmake script and fix path
  CMakeLists.txt
  main/CMakeLists.txt
Labels: none

Add name to job
  .github/workflows/pr.yml
Labels: CI

Skip installing if cache hit occured
  .github/workflows/ci.yml
Labels: CI

Add missing permission
  .github/workflows/pr.yml
Labels: CI

Generate the icons during build-time (#8)
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  CMakeLists.txt
  convert-icons.sh
  main/CMakeLists.txt
  main/icons/arrow.cpp
  main/icons/arrow.h
  main/icons/arrow_grey.cpp
  main/icons/arrow_grey.h
  main/icons/bootlogo.cpp
  main/icons/bootlogo.h
  main/icons/bootlogo_grey.cpp
  main/icons/bootlogo_grey.h
  main/icons/buttons.cpp
  main/icons/buttons.h
  main/icons/buttons_grey.cpp
  main/icons/buttons_grey.h
  main/icons/settings.cpp
  main/icons/settings.h
  main/icons/settings_grey.cpp
  main/icons/settings_grey.h
  main/icons/smol.cpp
  main/icons/smol.h
  main/icons/testimage.cpp
  main/icons/testimage.h
  main/icons/testimage_grey.cpp
  main/icons/testimage_grey.h
Labels: CI

Implement basic status icons
  .gitmodules
  main/guihelpers/runtimeicon.cpp
  main/guihelpers/runtimeicon.h
  main/guihelpers/widgets/statusicons.cpp
  main/guihelpers/widgets/statusicons.h
  main/runtimeicons/brakelighticon.cpp
  main/runtimeicons/brakelighticon.h
  main/runtimeicons/rearfoglighticon.cpp
  main/runtimeicons/rearfoglighticon.h
  main/screens/startdisplay.cpp
  main/screens/startdisplay.h
Labels: none

Fix icon width and bounding rectangle
  main/guihelpers/widgets/statusicons.cpp
  main/runtimeicons/brakelighticon.cpp
Labels: none

Actually calculate the height
  main/guihelpers/widgets/statusicons.cpp
  main/guihelpers/widgets/statusicons.h
Labels: none

Calculate both height and width on init
  main/guihelpers/widgets/statusicons.cpp
  main/guihelpers/widgets/statusicons.h
Labels: none

Automatically center the status icons
  main/guihelpers/widgets/statusicons.cpp
  main/guihelpers/widgets/statusicons.h
  main/screens/startdisplay.cpp
  main/screens/startdisplay.h
Labels: none

Use round box
  main/guihelpers/widgets/statusicons.cpp
Labels: none

Implement the proper icon
  main/runtimeicons/rearfoglighticon.cpp
Labels: none

Implement missing icons
  clean.sh
  main/guihelpers/widgets/statusicons.cpp
  main/guihelpers/widgets/statusicons.h
  main/runtimeicons/batteryproblemicon.cpp
  main/runtimeicons/batteryproblemicon.h
  main/runtimeicons/brakelighticon.h
  main/runtimeicons/highbeamlighticon.cpp
  main/runtimeicons/highbeamlighticon.h
  main/runtimeicons/lowbeamlighticon.cpp
  main/runtimeicons/lowbeamlighticon.h
  main/runtimeicons/rearfoglighticon.cpp
Labels: none

Fix colors and spacing
  main/runtimeicons/rearfoglighticon.cpp
  main/screens/startdisplay.cpp
Labels: none

Fix clangformat
  main/runtimeicons/batteryproblemicon.cpp
Labels: none

Add stop methods
  main/guihelpers/widgets/statusicons.cpp
  main/guihelpers/widgets/statusicons.h
  main/screens/startdisplay.cpp
  main/screens/startdisplay.h
Labels: none

Implemented memory debug helper
  main/main.cpp
  main/serialdebug.cpp
  main/serialdebug.h
Labels: none

Implement basic state machine and buttons
  main/configs_helper.h
  main/enums.h
  main/input/buttons.cpp
  main/runtimeicons/leftarrowicon.cpp
  main/runtimeicons/leftarrowicon.h
  main/runtimeicons/rightarrowicon.cpp
  main/runtimeicons/rightarrowicon.h
  main/screens/startdisplay.cpp
  main/screens/startdisplay.h
  main/statemachine.cpp
  main/statemachine.h
  main/taskmanager.cpp
Labels: none

Move logic from buttons into statemachine, make all icons do what the statemachine says
  main/input/buttons.cpp
  main/runtimeicons/batteryproblemicon.cpp
  main/runtimeicons/batteryproblemicon.h
  main/runtimeicons/brakelighticon.h
  main/runtimeicons/highbeamlighticon.h
  main/runtimeicons/leftarrowicon.h
  main/runtimeicons/lowbeamlighticon.h
  main/runtimeicons/rearfoglighticon.h
  main/runtimeicons/rightarrowicon.h
  main/serialdebug.cpp
  main/statemachine.cpp
  main/statemachine.h
Labels: none

Make blinker blink
  main/runtimeicons/leftarrowicon.h
  main/runtimeicons/rightarrowicon.h
  main/statemachine.cpp
  main/statemachine.h
Labels: none

Implemented calibrate screens for custom buttons + gui magic, this was fun
  icons/actions.png
  icons/debug.png
  icons/radio_checked.png
  icons/radio_unchecked.png
  main/CMakeLists.txt
  main/configs_helper.h
  main/enums.h
  main/guihelpers/bicyclechangevaluedisplay.h
  main/guihelpers/changevaluedisplay_enums.cpp
  main/guihelpers/changevaluedisplay_enums.h
  main/guihelpers/changevaluedisplayradioicon.h
  main/input/buttons.cpp
  main/iter.h
  main/runtimeicons/batteryproblemicon.h
  main/runtimeicons/leftarrowicon.h
  main/runtimeicons/rightarrowicon.h
  main/screens/menus/buttonsettingsmenu.cpp
  main/screens/menus/buttonsettingsmenu.h
  main/screens/menus/configurecustombutton.cpp
  main/screens/menus/configurecustombutton.h
  main/screens/menus/mainmenu.cpp
  main/screens/menus/settingsmenu.cpp
  main/screens/menus/settingsmenu.h
  main/statemachine.cpp
  main/statemachine.h
Labels: Icons

More formatting
  .clang-format
  .gitattributes
  main/configs.h
  main/enums.h
  main/iter.h
Labels: Formatting

Print version
  format.sh
Labels: none

Try to install clang-format 19 to make sure all rules exist
  .github/workflows/ci.yml
Labels: CI

Do AI on clang-format to help with stupid CI
  format.sh
Labels: none

Update script
  format.sh
Labels: none

Update README.md
  README.md
Labels: none

Update docs
  docs/getting-started/hardware.md
  docs/getting-started/software.md
  docs/index.md
Labels: Documentation

FIx startdisplay
  main/screens/startdisplay.h
Labels: none
