Repository deppenpfostierung/bicycle-led-software, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Dependencies, CI, Configuration, Formatting, Icons

.github/labeler.yml:

# GitHub Labeler Configuration
Documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**

Feature:
  - head-branch: ['^feature', 'feature']

Bug:
  - head-branch: ['^bug', 'bug']

Bugfix:
  - head-branch: ['^bug', 'bug']

Dependencies:
  - changed-files:
      - any-glob-to-any-file: components/**
      - any-glob-to-any-file: dependencies.lock

CI:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

Configuration:
  - changed-files:
      - any-glob-to-any-file: configs/**

Formatting:
  - changed-files:
      - any-glob-to-any-file: .clang-format

Icons:
  - changed-files:
      - any-glob-to-any-file: icons/**

Create many templates
  .github/ISSUE_TEMPLATE/001-bug_report.yml
  .github/ISSUE_TEMPLATE/002-feature_request.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Try to fix ci
  .github/workflows/ci.yml
Labels: CI

Also initialize esp-protocols
  .github/workflows/ci.yml
Labels: CI

Recursively checkout
  .github/workflows/ci.yml
Labels: CI

Recurse submodules
  .github/workflows/ci.yml
Labels: CI

Add badges
  README.md
Labels: none

Implement basic config and dpad
  main/Kconfig.projbuild
  main/input/dpad.cpp
  main/input/dpad.h
  main/input/dpadimpl.h
  main/taskmanager.cpp
Labels: none

Implement basic display and button input system
  configs/sdkconfig_comred
  configs/sdkconfig_gnufox
  main/configs.h
  main/configs_helper.h
  main/configutils_bicycle.h
  main/configwrapper_bicycle.cpp
  main/defines.h
  main/enums.h
  main/guihelpers/changevaluedisplay.h
  main/guihelpers/display.cpp
  main/guihelpers/display.h
  main/guihelpers/displaywithtitle.cpp
  main/guihelpers/displaywithtitle.h
  main/guihelpers/errorhandler.cpp
  main/guihelpers/errorhandler.h
  main/guihelpers/menudisplay.cpp
  main/guihelpers/menudisplay.h
  main/guihelpers/popupscreen.cpp
  main/guihelpers/popupscreen.h
  main/input/buttons.cpp
  main/input/buttons.h
  main/input/dpadimpl.h
  main/screen.cpp
  main/screen.h
  main/screens/menus/mainmenu.cpp
  main/screens/menus/mainmenu.h
  main/taskmanager.cpp
Labels: Configuration

Fix clang-format
  main/configs_helper.h
  main/enums.h
  main/guihelpers/changevaluedisplay.h
  main/guihelpers/display.cpp
  main/guihelpers/display.h
  main/guihelpers/displaywithtitle.cpp
  main/guihelpers/displaywithtitle.h
  main/guihelpers/errorhandler.cpp
  main/guihelpers/menudisplay.cpp
  main/guihelpers/popupscreen.h
  main/input/buttons.cpp
  main/input/dpadimpl.h
Labels: none

Magic
  configs/config_4M.cmake
  configs/config_8M.cmake
  configs/config_comred.cmake
  configs/config_gnufox.cmake
  configs/sdkconfig_4M
  configs/sdkconfig_8M
  main/main.cpp
  main/screen.cpp
  main/screens/menus/mainmenu.cpp
  main/screens/menus/mainmenu.h
  partitions_16M.csv
  partitions_8M.csv
Labels: Configuration

More fixes
  configs/sdkconfig_4M
  configs/sdkconfig_8M
  main/guihelpers/popupscreen.h
  main/main.cpp
  main/screen.cpp
  main/screen.h
  main/screens/menus/mainmenu.cpp
  main/screens/menus/mainmenu.h
  main/serialdebug.cpp
  main/serialdebug.h
  main/taskmanager.cpp
Labels: Configuration

Fix navigation in menus
  main/guihelpers/menudisplay.cpp
Labels: none

Fix number of rows
  configs/sdkconfig_4M
  configs/sdkconfig_8M
Labels: Configuration

Fix dpad
  main/input/dpadimpl.h
Labels: none

Formatting
  main/input/dpad.cpp
  main/input/dpad.h
  main/main.cpp
  main/screens/configurebasicbuttondisplay.cpp
  main/screens/configurebasicbuttondisplay.h
  main/screens/menus/mainmenu.h
  main/serialdebug.cpp
  main/taskmanager.cpp
Labels: none

Implement working button config screen
  main/screens/configurebasicbuttondisplay.cpp
  main/screens/configurebasicbuttondisplay.h
  main/serialdebug.cpp
Labels: none

Add kconfig for reset nvs via serial
  configs/sdkconfig_4M
  configs/sdkconfig_8M
  main/Kconfig.projbuild
  main/serialdebug.cpp
Labels: Configuration

Add todo
  main/screen.cpp
Labels: none

Icons go brr
  configs/sdkconfig_4M
  configs/sdkconfig_8M
  convert-icons.sh
  icons/arrow.png
  icons/buttons.png
  icons/settings.png
  main/guihelpers/popupscreen.h
  main/icons/arrow.cpp
  main/icons/arrow.h
  main/icons/arrow_grey.cpp
  main/icons/arrow_grey.h
  main/icons/bootlogo_grey.cpp
  main/icons/bootlogo_grey.h
  main/icons/buttons.cpp
  main/icons/buttons.h
  main/icons/buttons_grey.cpp
  main/icons/buttons_grey.h
  main/icons/settings.cpp
  main/icons/settings.h
  main/icons/settings_grey.cpp
  main/icons/settings_grey.h
  main/icons/testimage_grey.cpp
  main/icons/testimage_grey.h
  main/screens/menus/mainmenu.cpp
Labels: Configuration, Icons

Implemented MVP for i2c port expander
  .gitmodules
  CMakeLists.txt
  configs/sdkconfig_4M
  configs/sdkconfig_8M
  main/CMakeLists.txt
  main/Kconfig.projbuild
  main/hardware/portexpander.cpp
  main/hardware/portexpander.h
  main/screens/menus/mainmenu.cpp
  main/taskmanager.cpp
Labels: Configuration

Use correct i2c address
  configs/sdkconfig_4M
  main/Kconfig.projbuild
  main/hardware/portexpander.cpp
Labels: Configuration

Fix formatting
  main/hardware/portexpander.cpp
  main/taskmanager.cpp
Labels: none

Implement ccache
  .github/workflows/ci.yml
Labels: CI

Fix syntax problem
  .github/workflows/ci.yml
Labels: CI

Fixes for firmware paths + ccache
  .github/workflows/ci.yml
Labels: CI

Do not fetch complete history
  .github/workflows/ci.yml
Labels: CI

Add missing sudo
  .github/workflows/ci.yml
Labels: CI

Define the ccache dir
  .github/workflows/ci.yml
Labels: CI

Also cache ccache when build fails
  .github/workflows/ci.yml
Labels: CI

Always save ccache
  .github/workflows/ci.yml
Labels: CI

Implement ads1115 and made some other improvements to i2c
  main/Kconfig.projbuild
  main/hardware/adc.cpp
  main/hardware/adc.h
  main/hardware/i2c.cpp
  main/hardware/i2c.h
  main/hardware/portexpander.cpp
  main/hardware/portexpander.h
  main/helpers.h
  main/taskmanager.cpp
Labels: none

Add different start screen + implement debug menu
  main/main.cpp
  main/screen.cpp
  main/screens/configurebasicbuttondisplay.cpp
  main/screens/menus/debugmenu.cpp
  main/screens/menus/debugmenu.h
  main/screens/menus/mainmenu.cpp
  main/screens/startdisplay.cpp
  main/screens/startdisplay.h
Labels: none

Update all configs
  configs/sdkconfig_4M
  configs/sdkconfig_8M
Labels: Configuration

Use matrix config for cache key
  .github/workflows/ci.yml
Labels: CI

Also log ccache before build
  .github/workflows/ci.yml
Labels: CI

Add concept drawing
  assets/display.xcf
Labels: none

Allow non-docker icon converting
  convert-icons.sh
Labels: none

Install the rgb565-converter script
  .github/workflows/ci.yml
Labels: CI

Add internal issue template
  .github/ISSUE_TEMPLATE/000-internal.yml
Labels: none

Fix file extension
  .github/ISSUE_TEMPLATE/000-internal.md
Labels: none
